body {
  background: #333;
}

#mainChessBoard {
  width: 640px;
  height: 640px;
  border: 1px solid black;
  border-radius: 4px;
}

div {
  width: 80px;
  height: 80px;
  float: left;
}

img {
  width: 80px;
  cursor: pointer;
}

img.selectedPiece {
  box-sizing: border-box;
  border: 3px solid green;
}
