#mainChessBoard {
  width: 640px;
  height: 640px;
  border: 1px solid black;
  border-radius: 4px;
}

div {
  width: 80px;
  height: 80px;
  float: left;
}

img {
  width: 80px;
  cursor: pointer;
}

img.startMovingPiece {
  opacity: 0;
}

img.movingPiece {
  opacity: 0;
}
